<div class="body">
    <div class="text-center h1">
        <br>
        <h1>Registro de salida</h1>
        <br>
    </div>
    
    <div class="container">
        <div class="form-row">
            <label for="concepto">Concepto</label>
            <input type="text" class="form-control" [(ngModel)]="concepto" id="concepto" placeholder="Unos chimichangas" required>
        </div>
        <div class="form-row">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control"  [(ngModel)]="fecha" id="fecha" required>
        </div>
        <div class="form-row">
            <label for="monto">Monto</label>
            <input type="text" class="form-control" id="monto"  [(ngModel)]="monto" placeholder="$0.00" required>
        </div>
        <div class="text-center">
            <br>
            <button (click)="postSalidas()" type="submit" class="btn btn-primary">Añadir</button>
            <br>
            <br>
            <a href="/nav"><button type="button" class="btn btn-secondary">Volver</button></a>
        </div>
    </div>
</div>
