<div class="body">
    <div class="container">
      <img id="logoTF" src="https://www.iconpacks.net/icons/2/free-store-icon-2017-thumb.png" class="img-fluid mx-auto d-block">
        <h1 class="text-center">Tus finanzas</h1>
        <div id="form">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="correo" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca vamos a compartir tu información.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password">
          </div>
        </div>
      <div class="row w-100 align-items-center">
        <div class="col text-center botones">
            <button (click)="login()" class="btn btn-primary regular-button"> Acceder </button>
            <a href="/registro"><button class="btn btn-secondary regular-button"> Crear cuenta </button></a>
        </div>
      </div>
    </div>
  </div>

